﻿<div id="cover-spin"></div>
<div data-ng-init="Inicializar()">
    <h4><b>{{'index.planesView'|translate}}</b></h4>
    <div class="panel">
        <div class="row panel-body table-responsive" style="width: 98%; margin-left: 1%">
            <div class="row">
                <a role='button' data-ng-click="go('/planos')" class="fa fa-reply btn btn-warning pull-right" style="margin-left: 1%">&nbsp{{'index.btnBack'|translate}}</a>
            </div>

            <br />

            <div class="form-group">

                <div>

                    <div class="row">

                        <div class="col-lg-3">

                            <label for="PLANO_ID">ID</label>

                            <label id="PLANO_ID">{{plano.ID}}</label>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-lg-3">

                            <label for="PLANO_NOMBRE">{{'index.titleName'|translate}}</label>

                            <input id="PLANO_NOMBRE" data-ng-model="plano.Nombre" aria-readonly="true" disabled />

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-lg-3">

                            <label for="PLANO_ESTADO">{{'index.ActiveChecked'|translate}}</label>
                            <input id="PLANO_ESTADO" type="checkbox" title="Activo" aria-readonly="true" disabled />

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
