﻿<div id="cover-spin"></div>

<div class="lockscreen-wrapper" ng-init="Initialize()">

    <div class="lockscreen-logo">

        <img src="images/LOGO2.png" />

    </div>

    <div>

        <form>

            <input type="text" class="form-control roundedCAP" ng-model="username" my-enter="formSubmit()" placeholder={{'index.username'|translate}} required="">

            <br /><br />

            <input type="password" autocomplete="off" class="form-control roundedCAP" ng-model="password" my-enter="formSubmit()" placeholder={{'index.password'|translate}} required="">

            <br />

            <button type="button" class="btn btn-primary roundedCAP" style="margin-left:40%" ng-click="formSubmit()">{{'index.login'|translate}}</button>

        </form>

    </div>

</div>