﻿<div class="modal fade" id="BankTransactionsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>TRANSACCIONES BANCARIAS</b></h4>
            </div>
            <div class="modal-body">

                <div class="navbar2">
                    <a href="" data-ng-click="clickToOpen('BankTransactionsModal')">Asiento</a>
                    <a href="" data-ng-click="clickToOpen('BankBalanceModal')">Cheques</a>
                    <a href="" data-ng-click="clickToOpen('BankBalanceControlModal')">Resguardo de Depósitos</a>
                    <a href="" data-ng-click="clickToOpen('BankChecksModal')">Documento original</a>
                    <a href="" data-ng-click="clickToOpen('BankBillExchangesModal')">Facturas</a>
                    <div class="dropdown2">
                        <button class="dropbtn2">
                            Imprimir
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown2-content" style="border-radius:8px">
                            <a href="" data-ng-click="clickToOpen('CheckDesignerModal')">Resguardo de depósito</a>
                        </div>
                    </div>
                </div>

                <label for="transactionsShowOpenchk">Mostrar solo abiertas</label>&nbsp;&nbsp;
                <input type="checkbox" id="showopen" name="transactionsShowOpenchk" value="Mostrar solo abiertas" />

                <div id="overviewpestanas">

                    <ul id="lista" class="nav nav-tabs">

                        <li class="active" id="overviewpestana1"><a href="">Visi&oacute;n General</a></li>
                        <li id="overviewpestana2"><a href="">General</a></li>
                        <li id="overviewpestana3"><a href="">Conciliación Bancaria</a></li>
                        <li id="overviewpestana4"><a href="">Dimensión</a></li>

                    </ul>

                    <div class="panel" style="height:250px">

                        <div class="row" style="width: 98%; margin-left: 1%">

                            <br />

                            <div class="row" style="width: 98%; margin-left: 1%">

                                <!--<a role='button' id="btnNewAccountBank" data-ng-click="go('','')" class="fa fa-plus btn btn-primary" style="margin-left: 1%">&nbspNUEVO REGISTRO</a>-->

                            </div>

                            <br />

                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Guardar cambios</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>