﻿<div class="modal fade" id="BankDepositModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>RESGUARDO DE DEP&Oacute;SITO</b></h4>
            </div>
            <div class="modal-body">

                <div class="navbar2">

                    <a href="" data-ng-click="clickToOpen('BankTransactionsModal')">Cancelar el pago</a>
                    <a href="" data-ng-click="clickToOpen('BankBalanceModal')">Asientos</a>
                    <a href="" data-ng-click="clickToOpen('BankBalanceControlModal')">Transacciones</a>
                    <a href="" data-ng-click="clickToOpen('BankBalanceControlModal')">Facturas</a>

                </div>


                <div id="overviewpestanas">

                    <ul id="lista" class="nav nav-tabs">

                        <li class="active" id="overviewpestana1"><a href="">Visi&oacute;n General</a></li>
                        <li id="overviewpestana2"><a href="">General</a></li>

                    </ul>

                    <div class="panel" style="height:250px">


                    </div>

                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Guardar cambios</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>