﻿<div id="cover-spin" ng-init="Inicializar()"></div>

<div>

    <h4><b>PERMISOS</b></h4>

</div>

<div id="addresspestanas">

    <br />

    <div class="row">
        <a role='button' id="btnNewRight" class="fa fa-plus btn btn-primary" style="margin-left: 1%">&nbspNUEVO GRUPO</a>
    </div>
    <br />

    <ul id="lista" class="nav nav-tabs">

        <li id="addresspestana1"><a href="#permisos">Visi&oacute;n General</a></li>
        <li class="active" id="addresspestana2"><a href="">Permisos</a></li>
    </ul>

    <div class="panel" style="height:660px">

        <div class="row" style="width:98%;margin-left:1%">

            <br />
            <label id="lblGroupsRights"></label>
        </div>

        <br />

    </div>

</div>

</div>