﻿<div id="cover-spin" ng-init="Inicializar()"></div>

<div>

    <h4><b>PERMISOS</b></h4>

    <!--<div class="form-group">
        <label for="sel1">Grupos:</label>
        <select class="form-control" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div>-->

</div>

<div id="addresspestanas">

    <br />

    <div class="row">
        <a role='button' id="btnNewRight" class="fa fa-plus btn btn-primary" style="margin-left: 1%">&nbspNUEVO GRUPO</a>
    </div>
    <br />

    <ul id="lista" class="nav nav-tabs">

        <li class="active" id="addresspestana1"><a href="">Visi&oacute;n General</a></li>
        <li id="addresspestana2"><a href="">Permisos</a></li>
    </ul>

    <div class="panel" style="height:660px">

        <div class="row" style="width:98%;margin-left:1%">

            <br />
            <table id="PermisosTable" class="table table-hover table-striped table-bordered" style="width: 100%">
            </table>


        </div>

    </div>

</div>