﻿<div id="cover-spin" ng-init="Inicializar()"></div>

<div>

    <h4><b>PERMISOS</b></h4>

</div>

<div id="addresspestanas">

    <br />

    <div class="row">
        <a role='button' id="btnNewRight" class="fa fa-plus btn btn-primary" style="margin-left: 1%">&nbspNUEVO GRUPO</a>
    </div>
    <br />

    <ul id="lista" class="nav nav-tabs">

        <li id="addresspestana1"><a href="#permisos">Visi&oacute;n General</a></li>
        <li class="active" id="addresspestana2"><a href="">Permisos</a></li>
    </ul>

    <div class="panel" style="height:660px">

        <br />

        <div class="row" style="width:98%;margin-left:1%">


            <div class="col-lg-4">

                <label id="lblGroupsRights"></label>

            </div>


            <div class="col-lg-4">

                <label id="lblInheritsPermissionsFrom">Heredar de: </label>

                <select class="custom-select" style="width:65%">
                    <option selected>Elija una opci&oacute;n...</option>
                    <option value="1">Administraci&oacute;n</option>
                </select>

                <a role='button' id="btnApply" class="pull-right btn btn-primary" style="margin-left: 1%">Aplicar</a>

            </div>

            <div class="col-lg-4">

                <div></div>

            </div>

        </div>

        <br />

        <div class="row" style="width:98%;margin-left:1%">

            <div class="col-lg-4">

                Ayuda
                <div class="panel panel-default">


                    <div class="panel-body" style="height:500px">



                    </div>
                </div>

            </div>

            <div class="col-lg-4">

                Presentaci&oacute;n
                <div class="panel panel-default">
                    <div class="panel-body" style="height:500px">



                    </div>

                </div>

            </div>

            <div class="col-lg-4">

                Niveles de Acceso
                <div class="panel panel-default">
                    <div class="panel-body" style="height:500px">

                        <div class="radio">
                            <label><input type="radio" name="optradio" checked><i class="fa fa-minus-circle">&nbsp;Sin acceso</i></label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio"><i class="fa fa-search">&nbsp;Ver</i></label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio"><i class="fa fa-pencil">&nbsp;Editar</i></label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio"><i class="fa fa-file-o">&nbsp;Crear</i></label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="optradio"><i class="fa fa-check">&nbsp;Control total</i></label>
                        </div>


                    </div>

                </div>

                <a role='button' id="btnSave" class="pull-right btn btn-primary" style="margin-left: 1%">&nbspGUARDAR</a>
            </div>

        </div>

    </div>

</div>