﻿<div id="cover-spin"></div>

<div data-ng-init="Initialize()">

    <h4><b>CUENTAS BANCARIAS</b></h4>

    <div class="navbar2">
        <a href="" data-ng-click="clickToOpen('BankTransactionsModal')">Transacciones</a>
        <a href="" data-ng-click="clickToOpen('BankBalanceModal')">Saldo</a>
        <a href="" data-ng-click="clickToOpen('BankBalanceControlModal')">Control de Saldo</a>
        <a href="" data-ng-click="clickToOpen('BankChecksModal')">Cheques</a>
        <a href="" data-ng-click="clickToOpen('BankBillExchangesModal')">Letras de cambio</a>
        <a href="" data-ng-click="clickToOpen('BankPromissoryNotesModal')">Pagar&eacute;s</a>
        <div class="dropdown2">
            <button class="dropbtn2">
                Configuraci&oacute;n
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown2-content" style="border-radius:8px">
                <a href="" data-ng-click="clickToOpen('CheckDesignerModal')">Diseño de cheques</a>
                <a href="" data-ng-click="clickToOpen('BillExchangePresentationModal')">Presentación de la letra de cambio</a>
                <a href="" data-ng-click="clickToOpen('PromissoryNotesDesignerModal')">Diseño de pagarés</a>
            </div>
        </div>
        <div class="dropdown2">
            <button class="dropbtn2">
                Funciones
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown2-content" style="border-radius:8px">
                <a href="" data-ng-click="clickToOpen('AccountsReconciliationModal')">Conciliación de cuentas</a>
                <a href="" data-ng-click="clickToOpen('ChecksCreationModal')">Crear cheques</a>
                <a href="" data-ng-click="clickToOpen('PromissoryNotesCreationModal')">Crear pagarés</a>
                <a href="" data-ng-click="clickToOpen('BillExchangesCreationModal')">Crear letra de cambio</a>
            </div>
        </div>
        <div class="dropdown2">
            <button class="dropbtn2">
                Consultas
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown2-content" style="border-radius:8px">
                <a href="" data-ng-click="clickToOpen('CustPaymFileModal')">Envío</a>
                <a href="" data-ng-click="clickToOpen('BankDepositModal')">Resguardo de depósito</a>
                <a href="" data-ng-click="clickToOpen('BillExchangeStatisticsnModal')">Estadísticas de letra de cambio</a>
                <a href="" data-ng-click="clickToOpen('PromissoryNotesStatisticsModal')">Estadísticas de pagarés</a>
                <a href="" data-ng-click="clickToOpen('BankRemittanceCustomersModal')">Remesas para clientes</a>
                <a href="" data-ng-click="clickToOpen('BankRemittanceVendorsModal')">Remesas para proveedores</a>
            </div>
        </div>
    </div>

</div>

<div id="generalpestanas">

    <ul id="lista" class="nav nav-tabs">

        <li id="generalpestana1"><a href="#accountsBankOverview">Visi&oacute;n General</a></li>
        <li class="active" id="generalpestana2"><a href="#accountsBankGeneral">General</a></li>
        <li id="generalpestana3"><a href="#accountsBankSetup">Configurar</a></li>
        <li id="generalpestana4"><a href="#accountsBankNegotiableInstrument">Instrumento Negociable</a></li>
        <li id="generalpestana5"><a href="#accountsBankAddress">Direcci&oacute;n</a></li>
        <li id="generalpestana6"><a href="#accountsBankCommunication">Contactos</a></li>

    </ul>

    <div class="panel" style="height:680px">

        <div class="row" style="width: 98%; margin-left: 1%">

            <div class="col-lg-6">

                <br />

                <i style="width:200px;margin-left:10px">Identificación</i>

                <br /><br />

                <label for="identification_Account" style="width:250px;margin-left:10px">Cuenta bancaria:</label><input id="identification_AccountID" />
                <br /><br />
                <label for="Identification_BankCodeType" style="width:250px;margin-left:10px">Número de ruta bancario:</label><input id="Identification_BankCodeType" />
                <br /><br />
                <label for="Identification_RegistrationNum" style="width:250px;margin-left:10px">Número de ruta bancario:</label><input id="Identification_RegistrationNum" />
                <br /><br />
                <label for="Identification_AccountNum" style="width:250px;margin-left:10px">Número de cuenta bancaria:</label><input id="Identification_AccountNum" />
                <br /><br />
                <label for="Identification_SWIFTNo" style="width:250px;margin-left:10px">Código SWIFT:</label><input id="Identification_SWIFTNo" />
                <br /><br />
                <label for="Identification_IBAN" style="width:250px;margin-left:10px">Número internacional:</label><input id="Identification_IBAN" />
                <br /><br />
                <label for="Identification_CompanyPaymId" style="width:250px;margin-left:10px">Id de empresa:</label><input id="Identification_CompanyPaymId" />

            </div>

            <div class="col-lg-6">

                <br />

                <i style="width:200px;margin-left:10px">Descripción</i>


                <br /><br />

                <label for="Description_Name" style="width:250px;margin-left:10px">Nombre:</label><input id="Description_Name" />

                <br /><br />


                <i style="width:250px;margin-left:10px">Códigos de cuenta bancaria</i>

                <br /><br />

                <label for="BankAccountCodes_BankGroupId" style="width:250px;margin-left:10px">Conjunto de bancos:</label><input id="BankAccountCodes_BankGroupId" />

            </div>

        </div>
    </div>

</div>

<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Transactions/Transactions.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Balance/Balance.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/BalanceControl/BalanceControl.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Checks/Checks.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/BillExchanges/BillExchanges.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/PromissoryNotes/PromissoryNotes.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Setup/CheckDesigner.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Setup/BillExchangePresentation.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Setup/PromissoryNotesDesigner.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Functions/AccountsReconciliation.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Functions/BillExchangesCreation.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Functions/ChecksCreation.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Functions/PromissoryNotesCreation.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Queries/BankDeposit.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Queries/BankRemittanceCustomers.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Queries/BankRemittanceVendors.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Queries/CustBillExchangeStatistics.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Queries/CustPaymFile.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Queries/PromissoryNotesStatistics.html'"></div><div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Queries/CustPaymFile.html'"></div>