﻿<div class="modal fade" id="SysCompanyUserInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-ng-controller="SysCompanyUserInfoController" data-ng-init="Initialize()">

    <div class="modal-dialog">
        <div class="modal-content roundedCAP" style="width:1200px">
            <div class="modal-header">
                <h4 class="modal-title"><b>RELACIONES DE USUARIO PARA: {{userName}} {{userLastName}} </b></h4>
            </div>
            <div class="modal-body">

                <div id="overviewpestanas">

                    <div class="panel" style="height:500px">

                        <div class="content" style="width:98%;height:500px;margin-left:1%;overflow-y:scroll">

                            <div style="border:inset">
                                <div style="width:98%;margin-left:1%">
                                    <h4><span><b>Visi&oacute;n General</b><button id="overviewGeneral" data-ng-click="changeSign('overviewGeneral')" type="button" class="btn btn-box-tool pull-right fa fa-plus" data-toggle="collapse" data-target="#toggle-pane-overviewGeneral"></button></span></h4>
                                    <div id="toggle-pane-overviewGeneral" class="collapse" style="width:98%;margin-left:1%">

                                        <div class="panel" style="height:350px">
                                            
                                            <div class="row" style="width:98%;margin-left:1%">

                                                <table id="usersRelationsTable" class="table display table-hover table-striped table-bordered">
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Nombre</th>
                                                        <th>Apellido</th>
                                                        <th>Tipo de usuario</th>
                                                    </tr>
                                                </table>

                                            </div>

                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>

                            <br />

                            <div style="border:inset">
                                <div style="width:98%;margin-left:1%">
                                    <h4><span><b>General</b><button id="userRelationsGeneral" data-ng-click="changeSign('userRelationsGeneral')" type="button" class="btn btn-box-tool pull-right fa fa-plus" data-toggle="collapse" data-target="#toggle-pane-userRelationsGeneral"></button></span></h4>
                                    <div id="toggle-pane-userRelationsGeneral" class="collapse" style="width:98%;margin-left:1%">

                                        <div class="row" style="width:98%;margin-left:1%">

                                            <div class="form-group">

                                                <div class="radio">

                                                    <label>
                                                        <input type="radio" name="opciones" id="opciones_1" value="opcion_1" checked>
                                                        Usuario interno
                                                    </label>

                                                    <br /><br />

                                                    <div class="form-group">


                                                        <label style="margin-left:5%; width: 200px; height: 34px" for="internalUser">Empleado: </label>
                                                        <select id="internalUser" style="width: 200px; height: 34px">
                                                            <option selected>Seleccionar...</option>
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                        </select>

                                                    </div>

                                                </div>

                                            </div>

                                            <div class="radio">

                                                <label>
                                                    <input type="radio" name="opciones" id="opciones_2" value="opcion_2">
                                                    Usuarios externos
                                                </label>

                                                <div class="radio" style="margin-left:5%">

                                                    <label>
                                                        <input type="radio" name="extUser" id="extUser_1" value="opcion_1">
                                                        Cliente
                                                    </label>

                                                    <br /><br />

                                                    <div class="form-group">


                                                        <label style="width: 200px; height: 34px" for="clientUser">Cuenta del cliente: </label>
                                                        <select id="internalUser" style="width: 200px; height: 34px">
                                                            <option selected>Seleccionar...</option>
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                        </select>

                                                    </div>

                                                </div>

                                                <div class="radio" style="margin-left:5%">


                                                    <label>
                                                        <input type="radio" name="extUser" id="extUser_2" value="opcion_2">
                                                        Proveedor
                                                    </label>

                                                    <br /><br />

                                                    <div class="form-group">


                                                        <label style="width: 200px; height: 34px" for="providerUser">Cuenta del proveedor: </label>
                                                        <select id="internalUser" style="width: 200px; height: 34px">
                                                            <option selected>Seleccionar...</option>
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                        </select>

                                                    </div>


                                                </div>

                                                <div class="radio" style="margin-left:5%">

                                                    <label>
                                                        <input type="radio" name="extUser" id="extUser_3" value="opcion_3">
                                                        Relación empresarial
                                                    </label>

                                                    <br /><br />

                                                    <div class="form-group">

                                                        <label style="width: 200px; height: 34px" for="providerUser">Relación empresarial: </label>
                                                        <select id="internalUser" style="width: 200px; height: 34px">
                                                            <option selected>Seleccionar...</option>
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                        </select>

                                                        <br /><br />

                                                        <label style="width: 200px; height: 34px" for="providerUser">Contacto: </label>
                                                        <select id="internalUser" style="width:200px;height:34px">
                                                            <option selected>Seleccionar...</option>
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                        </select>

                                                        <br /><br />

                                                        <label style="width: 200px; height: 34px" for="profileUser">Perfil de usuario: </label>
                                                        <select id="internalUser" style="width: 200px; height: 34px">
                                                            <option selected>Seleccionar...</option>
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                        </select>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <br />
                                </div>
                            </div>

                            <br />

                            <div style="border:inset">
                                <div style="width:98%;margin-left:1%">
                                    <h4><span><b>Sitios Web</b><button id="userRelationsWebSites" data-ng-click="changeSign('userRelationsWebSites')" type="button" class="btn btn-box-tool pull-right fa fa-plus" data-toggle="collapse" data-target="#toggle-pane-userRelationsWebSites"></button></span></h4>
                                    <div id="toggle-pane-userRelationsWebSites" class="collapse" style="width:98%;margin-left:1%">

                                        <div class="panel" style="height:350px">

                                            <div class="row" style="width:98%;margin-left:1%">

                                                <div class="row" style="width:98%;margin-left:1%">

                                                    <table id="usersWebSitesTable" class="table display table-hover table-striped table-bordered">
                                                        <tr>
                                                            <th>URL Interna</th>
                                                            <th>Nombre de conjunto del sitio</th>
                                                        </tr>
                                                    </table>

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <br />
                                </div>
                            </div>

                            <br />

                        </div>

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Guardar cambios</button>
                <button type="button" class="btn btn-secondary pull-left" title="Asistente para la instalación de Relaciones de usuario">Asistente</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>