﻿<div class="modal fade" id="SysUserSetupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-ng-controller="SysUserSetupController" data-ng-init="Initialize()">

    <div class="modal-dialog">
        <div class="modal-content roundedCAP" style="width:1200px">

            <div class="modal-header">
                <h4 class="modal-title"><b>OPCIONES DE USUARIO PARA: {{userName}} {{userLastName}} </b></h4>
            </div> 

            <div class="modal-body">

                <div id="overviewpestanas">

                    <div class="panel" style="height:500px">

                        <div class="content" style="width:98%;height:500px;margin-left:1%;overflow-y:scroll">

                            <div style="border:inset">
                                <div style="width:98%;margin-left:1%">
                                    <h4><span><b>General</b><button id="general" data-ng-click="changeSign('general')" type="button" class="btn btn-box-tool pull-right fa fa-plus" data-toggle="collapse" data-target="#toggle-pane-general"></button></span></h4>
                                    <div id="toggle-pane-general" class="collapse" style="width:98%;margin-left:1%">

                                        <div class="row" style="width:98%;margin-left:1%">

                                            <div class="col-lg-4">

                                                <label for="userId" style="width:160px">Id. de usuario: </label>
                                                <input id="userId" style="width:98%;margin-left:1%;height:34px" />

                                            </div>

                                            <div class="col-lg-4">

                                                <label for="userName" style="width:200px">Nombre: </label>
                                                <input id="userName" style="width:98%;margin-left:1%;height:34px" />

                                            </div>

                                            <div class="col-lg-4">

                                                <label for="userLastName" style="width:160px">Apellido: </label>
                                                <input id="userLastName" style="width:98%;margin-left:1%;height:34px" />

                                            </div>


                                        </div>

                                        <br />

                                        <div class="row" style="width:98%;margin-left:1%">

                                            <div class="col-lg-4">

                                                <label for="userMail" style="width:160px">Correo electr&oacute;nico: </label>
                                                <input id="userMail" style="width:98%;margin-left:1%;height:34px" />

                                            </div>

                                            <div class="col-lg-4">

                                                <label for="userDefaultCompany" style="width:200px">Iniciar en cuenta de empresa: </label>
                                                <select id="userDefaultCompany" class="form-control">
                                                    <option selected>Seleccionar...</option>
                                                    <option>...</option>
                                                </select>

                                            </div>

                                            <div class="col-lg-4">

                                                <label for="userLastSessionStart" style="width:160px">&Uacute;ltimo inicio de sesi&oacute;n: </label>
                                                <div id="userLastSessionStart" class="form-group">
                                                    <div class='input-group date' id='datetimepicker1' style="width:98%;margin-left:1%;height:34px">

                                                        <input id="fechaEventoJ" type="text" 
                                                               mi-calendario 
                                                               autoclose="true"
                                                               popover-position="top" ng-model="fechaEvento" style="width: 98%" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <br />

                                        <div class="row" style="width:98%;margin-left:1%">

                                            <div class="col-lg-4">

                                                <label for="userLanguage" style="width:160px">Idioma: </label>
                                                <select id="userLanguage" class="form-control">
                                                    <option selected>ES-AR</option>
                                                </select>

                                            </div>

                                            <div class="col-lg-4">

                                                <label for="userLogoutAuto" style="width:200px">Logoff automático: </label>
                                                <input id="userLogoutAuto" style="width:98%;margin-left:1%;height:34px" />

                                            </div>

                                            <div class="col-lg-4">

                                                <label for="userTheme" style="width:160px">Nombre del tema: </label>
                                                <select id="userTheme" class="form-control">
                                                    <option selected>skin-blue</option>
                                                </select>

                                            </div>


                                        </div>

                                        <br />

                                    </div>
                                    <br />
                                </div>
                            </div>

                            <br />

                            <div style="border:inset">
                                <div style="width:98%;margin-left:1%">
                                    <h4><span><b>Barra de Estado</b><button id="statusBar" data-ng-click="changeSign('statusBar')" type="button" class="btn btn-box-tool pull-right fa fa-plus" data-toggle="collapse" data-target="#toggle-pane-statusBar"></button></span></h4>
                                    <div id="toggle-pane-statusBar" class="collapse" style="width:98%;margin-left:1%">

                                        <div class="row" style="width:98%;margin-left:1%">

                                            <div class="col-lg-4">

                                                <div class="custom-control custom-checkbox">

                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">&nbsp&nbsp
                                                    <label class="custom-control-label" for="defaultUnchecked">Mostrar barra de estado</label>

                                                </div>

                                            </div>

                                            <div class="col-lg-4">

                                                <div class="custom-control custom-checkbox">

                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">&nbsp&nbsp
                                                    <label class="custom-control-label" for="defaultUnchecked">Avisar cambio de empresa</label>

                                                </div>

                                            </div>

                                            <div class="col-lg-4">

                                                <div class="custom-control custom-checkbox">

                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">&nbsp&nbsp
                                                    <label class="custom-control-label" for="defaultUnchecked">Mostrar info de empresa</label>

                                                </div>

                                            </div>

                                        </div>

                                        <br />

                                        <div class="row" style="width:98%;margin-left:1%">

                                            <div class="col-lg-4">

                                                <div class="custom-control custom-checkbox">

                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">&nbsp&nbsp
                                                    <label class="custom-control-label" for="defaultUnchecked">Mostrar texto de ayuda</label>

                                                </div>

                                            </div>

                                            <div class="col-lg-4">

                                                <div class="custom-control custom-checkbox">

                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">&nbsp&nbsp
                                                    <label class="custom-control-label" for="defaultUnchecked">Mostrar reloj</label>

                                                </div>

                                            </div>

                                            <div class="col-lg-4">

                                                <div class="custom-control custom-checkbox">

                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">&nbsp&nbsp
                                                    <label class="custom-control-label" for="defaultUnchecked">Mostrar Bloq May&uacute;sculas</label>

                                                </div>

                                            </div>

                                        </div>

                                        <br />

                                        <div class="row" style="width:98%;margin-left:1%">

                                            <div class="col-lg-4">

                                                <div class="custom-control custom-checkbox">

                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">&nbsp&nbsp
                                                    <label class="custom-control-label" for="defaultUnchecked">Mostrar actividad</label>

                                                </div>

                                            </div>

                                            <div class="col-lg-4">

                                                <div class="custom-control custom-checkbox">

                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">&nbsp&nbsp
                                                    <label class="custom-control-label" for="defaultUnchecked">Mostrar fecha sistema</label>

                                                </div>

                                            </div>

                                            <div class="col-lg-4">

                                                <div class="custom-control custom-checkbox">

                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">&nbsp&nbsp
                                                    <label class="custom-control-label" for="defaultUnchecked">Mostrar Bloq Núm</label>

                                                </div>

                                            </div>

                                        </div>

                                        <br />

                                        <div class="row" style="width:98%;margin-left:1%">

                                            <div class="col-lg-4">

                                                <div class="custom-control custom-checkbox">

                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">&nbsp&nbsp
                                                    <label class="custom-control-label" for="defaultUnchecked">Mostrar cuenta de la empresa</label>

                                                </div>

                                            </div>

                                            <div class="col-lg-4">

                                                <div class="custom-control custom-checkbox">

                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">&nbsp&nbsp
                                                    <label class="custom-control-label" for="defaultUnchecked">Mostrar moneda</label>

                                                </div>

                                            </div>

                                            <div class="col-lg-4">

                                                <div class="custom-control custom-checkbox">

                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">&nbsp&nbsp
                                                    <label class="custom-control-label" for="defaultUnchecked">Mostrar Id. de usuario</label>

                                                </div>

                                            </div>

                                        </div>

                                        <br />

                                        <div class="row" style="width:98%;margin-left:1%">

                                            <div class="col-lg-4">

                                                <div class="custom-control custom-checkbox">

                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">&nbsp&nbsp
                                                    <label class="custom-control-label" for="defaultUnchecked">Mostrar ayuda personalizada</label>

                                                </div>

                                            </div>

                                            <div class="col-lg-4">

                                                <div class="custom-control custom-checkbox">

                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">&nbsp&nbsp
                                                    <label class="custom-control-label" for="defaultUnchecked">Mostrar número alertas no leídas</label>

                                                </div>

                                            </div>

                                            <div class="col-lg-4">

                                                <div class="custom-control custom-checkbox">

                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">&nbsp&nbsp

                                                    <label class="custom-control-label" for="defaultUnchecked">Mostrar empresa del panel de exploración</label>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <br />
                                </div>
                            </div>

                            <br />

                            <div style="border:inset">
                                <div style="width:98%;margin-left:1%">
                                    <h4><span><b>Confirmaci&oacute;n de eliminaci&oacute;n</b><button id="confirmacion" data-ng-click="changeSign('confirmacion')" type="button" class="btn btn-box-tool pull-right fa fa-plus" data-toggle="collapse" data-target="#toggle-pane-confirmacion"></button></span></h4>
                                    <div id="toggle-pane-confirmacion" class="collapse" style="width:98%;margin-left:1%">

                                        <div class="row" style="width:98%;margin-left:1%">

                                            <div class="col-lg-4">

                                                <div class="custom-control custom-checkbox">

                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">&nbsp&nbsp
                                                    <label class="custom-control-label" for="defaultUnchecked">Principal</label>

                                                </div>

                                            </div>

                                            <div class="col-lg-4">

                                                <div class="custom-control custom-checkbox">

                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">&nbsp&nbsp
                                                    <label class="custom-control-label" for="defaultUnchecked">Transacci&oacute;n</label>

                                                </div>

                                            </div>

                                            <div class="col-lg-4">

                                                <div class="custom-control custom-checkbox">

                                                    <input type="checkbox" class="custom-control-input" id="defaultUnchecked">&nbsp&nbsp

                                                    <label class="custom-control-label" for="defaultUnchecked">Grupos</label>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <br />
                                </div>
                            </div>

                            <br />

                            <div style="border:inset">
                                <div style="width:98%;margin-left:1%">
                                    <h4><span><b>Carga previa</b><button id="previousLoad" data-ng-click="changeSign('previousLoad')" type="button" class="btn btn-box-tool pull-right fa fa-plus" data-toggle="collapse" data-target="#toggle-pane-previousLoad"></button></span></h4>
                                    <div id="toggle-pane-previousLoad" class="collapse">

                                        <p>La carga previa de las tablas se ha realizado para optimizar el acceso frecuente a los datos. Todo el contenido de la tabla se transfiere a la aplicación la primera vez que se accede a ella.</p>

                                        <p>Inicialmente se activa para las siguientes tablas, ya que mejora el rendimiento cuando se han precargado los datos. Como la carga puede tardar bastante tiempo en las tablas con muchos datos, la opción puede deshabilitarse.</p>

                                        <p>Si está deshabilitada, no tiene que esperar a que se cargue toda la tabla pero el acceso a los datos será más lento.</p>


                                        <div class="panel" style="height:350px">

                                            <div class="row" style="width:98%;margin-left:1%">


                                                <br />

                                                <table id="previousLoadTable" class="table display table-hover table-striped table-bordered">
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Nombre</th>
                                                        <th>Descripci&oacute;n</th>
                                                    </tr>
                                                </table>
                                            </div>

                                        </div>

                                    </div>
                                    <br />
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="modal-footer">
   
                <button type="button" class="btn btn-secondary pull-left" title="Restaurar valores predeterminados">Predeterminado</button>
                <button type="button" class="btn btn-primary">Guardar cambios</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>

        </div>

    </div>

</div>
