﻿<div class="modal fade" id="SysUsersOnlineReportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-ng-controller="SysUsersOnlineReportController" data-ng-init="Initialize()">

    <div class="modal-dialog">
        <div class="modal-content" style="width:1200px">
            <div class="modal-header">
                <h4 class="modal-title"><b>TIEMPO EN LINEA PARA EL USUARIO: {{userName}} {{userLastName}} </b></h4>
            </div>
            <div class="modal-body">

                <div id="overviewpestanas">

                    <div class="panel" style="height:350px">

                        <div class="row" style="width:98%;margin-left:1%">

                            <table id="usersOnlineTable" class="table display table-hover table-striped table-bordered">
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre y apellido</th>
                                    <th>Equipo</th>
                                    <th>Tipo de cliente</th>
                                    <th>Inicio de sesión</th>
                                    <th>Desconexión</th>
                                    <th>Tiempo en línea</th>
                                </tr>
                            </table>

                        </div>

                    </div>

                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>