﻿<div class="modal fade" id="SysUserLogModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-ng-controller="SysUserLogController" data-ng-init="Initialize()">

    <div class="modal-dialog">
        <div class="modal-content roundedCAP" style="width:1200px">

            <div class="modal-header">
                <h4 class="modal-title"><b>REGISTRO DE USUARIO PARA: {{userName}} {{userLastName}} </b></h4>
            </div>

            <div class="modal-body">

                <div id="overviewpestanas">

                    <div class="panel" style="height:500px">

                        <div class="content" style="width:98%;height:500px;margin-left:1%;overflow-y:scroll">

                            <div style="border:inset">
                                <div style="width:98%;margin-left:1%">
                                    <h4><span><b>Visi&oacute;n general</b><button id="UserLogOverview" data-ng-click="changeSign('UserLogOverview')" type="button" class="btn btn-box-tool pull-right fa fa-plus" data-toggle="collapse" data-target="#toggle-pane-UserLogOverview"></button></span></h4>
                                    <div id="toggle-pane-UserLogOverview" class="collapse" style="width:98%;margin-left:1%">

                                        <div class="panel" style="height:350px">

                                            <div class="row" style="width:98%;margin-left:1%">

                                                <br />

                                                <table id="previousLoadTable" class="table display table-hover table-striped table-bordered">
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Nombre</th>
                                                        <th>Apellido</th>
                                                        <th>Tipo</th>
                                                        <th>Fecha y hora Inicio</th>
                                                        <th>Tiempo en línea</th>

                                                    </tr>
                                                </table>


                                            </div>

                                            <br />

                                        </div>

                                    </div>
                                    <br />
                                </div>
                            </div>

                            <br />

                            <div style="border:inset">
                                <div style="width:98%;margin-left:1%">
                                    <h4><span><b>General</b><button id="UserLogGeneral" data-ng-click="changeSign('UserLogGeneral')" type="button" class="btn btn-box-tool pull-right fa fa-plus" data-toggle="collapse" data-target="#toggle-pane-UserLogGeneral"></button></span></h4>
                                    <div id="toggle-pane-UserLogGeneral" class="collapse" style="width:98%;margin-left:1%">

                                        <div class="row" style="width:98%;margin-left:1%">

                                            <div class="col-lg-4">

                                                <label for="userLogType" style="width:160px">Tipo de usuario: </label>
                                                <input id="userLogType" style="width:98%;margin-left:1%;height:34px" />

                                            </div>

                                            <div class="col-lg-4">

                                                <label for="userLogId" style="width:160px">Id. de usuario: </label>
                                                <input id="userLogId" style="width:98%;margin-left:1%;height:34px" />

                                            </div>

                                            <div class="col-lg-4">

                                                <label for="userLogMachine" style="width:200px">Nombre del equipo: </label>
                                                <input id="userLogMachine" style="width:98%;margin-left:1%;height:34px" />

                                            </div>

                                        </div>

                                        <br />

                                        <div class="row" style="width:98%;margin-left:1%">

                                            <div class="col-lg-4">

                                                <label for="userLogClientType" style="width:160px">Tipo de cliente: </label>
                                                <input id="userLogClientType" style="width:98%;margin-left:1%;height:34px" />

                                            </div>

                                            <div class="col-lg-4">

                                                <label for="userLogBuildNumber" style="width:200px">Número de Versión: </label>
                                                <input id="userLogBuildNumber" style="width:98%;margin-left:1%;height:34px" />

                                            </div>

                                            <div class="col-lg-4">

                                                <label for="userLogSessionId" style="width:160px">Id. de sesión: </label>
                                                <input id="userLogSessionId" style="width:98%;margin-left:1%;height:34px" />

                                            </div>

                                        </div>

                                        <br />

                                        <div class="row" style="width:98%;margin-left:1%">

                                            <div class="col-lg-4">

                                                <br />

                                                <div class="custom-control custom-checkbox">

                                                    <input type="checkbox" class="custom-control-input" id="userLogClosedSession">&nbsp&nbsp
                                                    <label class="custom-control-label" for="userLogClosedSession">Cerrado</label>

                                                </div>

                                            </div>

                                            <div class="col-lg-4">

                                                <div class="custom-control custom-checkbox">

                                                    <label for="userLogDateTimeLogin">Fecha y hora de creación</label>
                                                    <input id="userLogDateTimeLogin" style="width:98%;margin-left:1%;height:34px" />

                                                </div>

                                            </div>

                                            <div class="col-lg-4">

                                                <div class="custom-control custom-checkbox">

                                                    <label for="userLogDateTimeLogoff">Fecha y hora de desconexión</label>
                                                    <input id="userLogDateTimeLogoff" style="width:98%;margin-left:1%;height:34px" />

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <br />
                                </div>
                            </div>

                            <br />

                            <div style="border:inset">
                                <div style="width:98%;margin-left:1%">
                                    <h4><span><b>Estad&iacute;sticas de Inicios de sesión</b><button id="userLogStatistics" data-ng-click="changeSign('userLogStatistics')" type="button" class="btn btn-box-tool pull-right fa fa-plus" data-toggle="collapse" data-target="#toggle-pane-UserLogStatistics"></button></span></h4>
                                    <div id="toggle-pane-UserLogStatistics" class="collapse" style="width:98%;margin-left:1%">

                                        <div class="row" style="width:98%;margin-left:1%">

                                            <div class="row">

                                                <div class="chart" style="height:350px">

                                                    <div class="radio">

                                                        <div class="col-lg-3">

                                                            <label>
                                                                <input type="radio" name="userLogStatisticOptions" id="opciones_1" value="userLogStatisticsToday" data-ng-click="changeStatistic('userLogStatisticsToday')" checked>
                                                                Hoy
                                                            </label>

                                                        </div>

                                                        <div class="col-lg-3">

                                                            <label>
                                                                <input type="radio" name="userLogStatisticOptions" id="opciones_2" value="userLogStatisticsLastWeek" data-ng-click="changeStatistic('userLogStatisticsLastWeek')">
                                                                &Uacute;ltima semana
                                                            </label>

                                                        </div>

                                                        <div class="col-lg-3">

                                                            <label>
                                                                <input type="radio" name="userLogStatisticOptions" id="opciones_3" value="userLogStatisticsLastMonth" data-ng-click="changeStatistic('userLogStatisticsLastMonth')">
                                                                &Uacute;ltimo mes
                                                            </label>

                                                        </div>

                                                        <div class="col-lg-3">

                                                            <label>
                                                                <input type="radio" name="userLogStatisticOptions" id="opciones_4" value="userLogStatisticsLastYear" data-ng-click="changeStatistic('userLogStatisticsLastYear')">
                                                                &Uacute;ltimo año
                                                            </label>

                                                        </div>

                                                    </div>

                                                    <hr size="6" width="98%" style="margin-left:1%" align="left" color="black">

                                                    <br />

                                                    <canvas id="myChartUserLog" height="150" width="600"></canvas>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                    <br />

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-secondary pull-left" title="Eliminar los registros relacionados con consultas">Limpiar</button>

                <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle"
                            data-toggle="dropdown">
                        Imprimir <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">Visi&oacute;n general</a></li>
                        <li><a href="">General</a></li>
                        <li><a href="">Estad&iacute;sticas de inicio</a></li>
                        <li class="divider"></li>
                        <li><a href="">Todo</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-primary">Guardar cambios</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>

        </div>
    </div>
</div>
