﻿.scrolling-table-container {
    height: 768px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

span.disable-links {
    pointer-events: none;
}

.deshabilitado{
    color:gray;
}

.navbar2 {
    overflow: hidden;
    background-color: white;
    border-radius:8px;
}

    .navbar2 a {
        float: left;
        font-size: 16px;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.dropdown2 {
    float: left;
    overflow: hidden;
}

    .dropdown2 .dropbtn2 {
        font-size: 16px;
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .navbar2 a:hover, .dropdown2:hover .dropbtn2 {
        background-color: #4267b2;
        color:white;
        border-radius:8px;
    }

.dropdown2-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown2-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown2-content a:hover {
            background-color: #4267b2;
            color:white;
            border-radius:8px;
        }

.dropdown2:hover .dropdown2-content {
    display: block;
}

.body {
    min-width: 700px; /* Suppose you want minimum width of 800px */
    width: auto !important; /* Firefox will set width as auto */
    width: 700px; /* As IE6 ignores !important it will set width as 800px; */
}

.roundedCAP {
    border-radius: .3rem !important;
}

td.details-control {
    background: url('../Content/Resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../Content/Resources/details_close.png') no-repeat center center;
}

@keyframes rotate {

    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.refresh-start {
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}