﻿<div class="modal fade" id="CheckDesignerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>DISEÑADOR DE CHEQUES</b></h4>
            </div>
            <div class="modal-body">

                <div class="navbar2">

                    <a href="" data-ng-click="clickToOpen('BankTransactionsModal')">Imprimir prueba</a>
                    <a href="" data-ng-click="clickToOpen('BankBalanceModal')">Logotipo de la empresa</a>
                    <a href="" data-ng-click="clickToOpen('BankBalanceControlModal')">Firma</a>

                </div>

                <div id="overviewpestanas">

                    <ul id="lista" class="nav nav-tabs">

                        <li class="active" id="overviewpestana1"><a href="">Visi&oacute;n General</a></li>
                        <li id="overviewpestana2"><a href="">Configurar</a></li>
                        <li id="overviewpestana3"><a href="">Códigos</a></li>
                        <li id="overviewpestana4"><a href="">Firma</a></li>

                    </ul>

                    <div class="panel" style="height:250px">

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Guardar cambios</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>