﻿<!-- HTML5 App -->
<!DOCTYPE html>

<!-- Begin AngularJS app -->
<html data-ng-app="myApp">

<head>

    <!-- Tell the browser to be responsive to screen width -->
    <meta charset="utf-8" http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Bootstrap v3.3.7 -->
    <link href="content/bootstrap.css" rel="stylesheet" />
    <link href="content/bootstrap-theme.css" rel="stylesheet" />
    <link href="content/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
    <link href="content/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
    <link href="content/datepicker.css" rel="stylesheet" />
    <link href="content/jq.css" rel="stylesheet" />

    <!-- Theme style -->
    <link href="content/AdminLTE.css" rel="stylesheet" />

    <!-- AngularJS Material -->
    <link href="content/angular-material.min.css" rel="stylesheet" />

    <!-- Font Awesome -->
    <link href="content/font-awesome.css" rel="stylesheet" />

    <!-- Google Font -->
    <link href="content/GoogleFont.css" rel="stylesheet" />

    <!-- Ionicons -->
    <link href="content/ionicons.css" rel="stylesheet" />

    <!-- Skin -->
    <link href="content/skin-blue.css" rel="stylesheet" />

    <!-- Site css -->
    <link href="content/Site.css" rel="stylesheet" />

    <!-- Datatables styles -->
    <!--<link rel="stylesheet" type="text/css" href="scripts/datatables/datatables-1.10.18/css/datatables.bootstrap.css" />-->
    <link href="Scripts/Datatables/DataTables-1.10.18/css/jquery.dataTables.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="Scripts/Datatables/Buttons-1.5.4/css/buttons.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="Scripts/Datatables/FixedColumns-3.2.5/css/fixedColumns.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="Scripts/Datatables/FixedHeader-3.1.4/css/fixedHeader.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="Scripts/Datatables/RowGroup-1.1.0/css/rowGroup.bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="content/bootstrap-multiselect.css" />

    <!-- Cover Spin -->
    <link href="content/cover-spin.css" rel="stylesheet" />

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="favicon.ico" />

    <!-- App Title -->
    <title>Sherite ERP</title>

</head>

<body id="myBody" data-ng-controller="IndexController" data-ng-init="Initialize()" class="skin-blue fixed">

    <div id="cover-spin"></div>

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>Sherite ERP</b></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Sherite ERP</b></span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a id="pushButton" class="sidebar-toggle" data-toggle="push-menu" role="button" style="visibility:hidden">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- User Account Menu -->
                    <li id="userMenu" class="dropdown user user-menu" style="visibility:hidden">
                        <!-- Menu Toggle Button -->
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img style="height:17px" src="images/yo.jpg" class="img-circle" alt="User Image" />
                        </a>
                        <ul class="dropdown-menu">
                            <!-- The user image in the menu -->
                            <li class="user-header">
                                <img src="images/yo.jpg" class="img-circle" alt="User Image" />

                                <p>
                                    Carlos Porcel<br />
                                    14795845
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">{{'index.profile'|translate}}</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#login" class="btn btn-default btn-flat">{{'index.logout'|translate}}</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside id="leftBar" class="main-sidebar scrolling-table-container" style="visibility:hidden">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">

                <!-- GENERAL DASHBOARD -->
                <li><a href="#dashboard"><i class="fa fa-dashboard"></i><span>Tablero General</span></a></li>
                <!-- GENERAL DASHBOARD END -->
                <!-- CONFIGURATION -->
                <li id="tvwSetup" class="treeview">

                </li>
                <!-- CONFIGURATION END -->

            </ul>

        </section>
        <!-- sidebar end -->

    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content container-fluid">

            <div data-ng-view>
                <!--***********************
                | Your Page Content Here |
                **************************-->
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- Content-wrapper end -->
    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- Default to the left -->
        <strong>{{'index.copyright'|translate}} &copy; 2016 <a href="#">{{'index.company'|translate}}</a></strong>

        <!-- To the right -->
        <div class="pull-right hidden-xs">
            {{'index.anything_you_want'|translate}}

        </div>
    </footer>

    <!--SCRIPTS -->
    <!-- jQuery 3.3.1 -->
    <script src="Scripts/jquery-3.3.1.js"></script>
    <script src="Scripts/jquery-ui-1.10.3.custom.min.js"></script>

    <script src="Scripts/Chart.bundle.min.js"></script>
    <!--<script src="Scripts/Chart.js"></script>-->
    <script src="Scripts/GeneralSettings.js"></script>

    <!-- Bootstrap 3.3.7 -->
    <script src="Scripts/moment.min.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/bootstrap-alert.js"></script>
    <script src="Scripts/bootstrap-datepicker.js"></script>

    <!-- AdminLTE App -->
    <script src="Scripts/adminlte.js"></script>

    <!-- AngularJS scripts 1.4.3 -->
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-aria.min.js"></script>
    <script src="Scripts/angular-messages.min.js"></script>
    <script src="Scripts/angular-material.min.js"></script>
    <script src="Scripts/angular-sanitize.min.js"></script>
    <script src="Scripts/i18nApp/vendor/angular-translate.js"></script>
    <script src="Scripts/i18nApp/vendor/tmhDynamicLocale.js"></script>

    <!-- Angular JS Login Social -->
    <!--<script src="Scripts/angularjs-social-login.js"></script>-->
    <!-- Facebook Social Login plugin -->
    <!--<script src="Scripts/angular-easyfb.min.js"></script>-->
    <!-- Dashboard and Graphics-->
    <script src="Scripts/fastclick.js"></script>
    <script src="Scripts/jquery.sparkline.js"></script>
    <script src="Scripts/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="Scripts/jquery-jvectormap-world-mill-en.js"></script>
    <script src="Scripts/jquery.slimscroll.js"></script>

    <script src="Scripts/demo.js"></script>
    <!-- Bootstrap 2.0 -->
    <script src="Scripts/bootstrap-multiselect.js"></script>

    <!-- Datatables JS 1.10.18 -->
    <script type="text/javascript" src="Scripts/Datatables/JSZip-2.5.0/jszip.js"></script>
    <script type="text/javascript" src="Scripts/Datatables/pdfmake-0.1.36/pdfmake.js"></script>
    <script type="text/javascript" src="Scripts/Datatables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="Scripts/Datatables/DataTables-1.10.18/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="Scripts/Datatables/DataTables-1.10.18/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="Scripts/Datatables/Buttons-1.5.4/js/dataTables.buttons.js"></script>
    <script type="text/javascript" src="Scripts/Datatables/Buttons-1.5.4/js/buttons.bootstrap.js"></script>
    <script type="text/javascript" src="Scripts/Datatables/Buttons-1.5.4/js/buttons.html5.js"></script>
    <script type="text/javascript" src="Scripts/Datatables/Buttons-1.5.4/js/buttons.print.js"></script>
    <script type="text/javascript" src="Scripts/Datatables/FixedColumns-3.2.5/js/dataTables.fixedColumns.js"></script>
    <script type="text/javascript" src="Scripts/Datatables/FixedHeader-3.1.4/js/dataTables.fixedHeader.js"></script>
    <script type="text/javascript" src="Scripts/Datatables/RowGroup-1.1.0/js/dataTables.rowGroup.js"></script>
    <script src="Scripts/Datatables/input.js"></script>

    <!-- App -->
    <script src="AngularJS/app.js"></script>

    <!--Factorys -->
    <script src="AngularJS/factorys/CommonDataFactory.js"></script>

    <!-- Directives -->
    <script src="AngularJS/directives/myEnter.js"></script>
    <script src="AngularJS/directives/myCalendar.js"></script>

    <!-- Controllers -->
    <script src="AngularJS/controllers/IndexController.js"></script>
    <script src="AngularJS/controllers/MainController.js"></script>
    <script src="AngularJS/controllers/DashboardController.js"></script>
    <script src="AngularJS/controllers/UsuariosController.js"></script>
    <script src="AngularJS/controllers/GruposController.js"></script>
    <script src="AngularJS/controllers/PermisosController.js"></script>
    <script src="AngularJS/controllers/RolesController.js"></script>
    <script src="AngularJS/controllers/AreasComercialesController.js"></script>
    <script src="AngularJS/controllers/ContratosController.js"></script>
    <script src="AngularJS/controllers/PlanosController.js"></script>
    <script src="AngularJS/controllers/LoginController.js"></script>
    <script src="AngularJS/controllers/404Controller.js"></script>
    <script src="AngularJS/controllers/500Controller.js"></script>
    <script src="AngularJS/controllers/LanguagesController.js"></script>

    <!---- ADMINISTRATION -->
    <!-- USERS-->
    <!-- MAIN TAB-->
    <script src="AngularJS/controllers/Administration/Users/SysUserInfo/SysUserInfoOverviewController.js"></script>
    <script src="AngularJS/controllers/Administration/Users/SysUserInfo/Toolbar/SysUserSetupController.js"></script>
    <script src="AngularJS/controllers/Administration/Users/SysUserInfo/Toolbar/SysCompanyUserInfoController.js"></script>
    <script src="AngularJS/controllers/Administration/Users/SysUserInfo/Toolbar/SysUserLogController.js"></script>
    <script src="AngularJS/controllers/Administration/Users/SysUserInfo/Toolbar/SysUsersOnlineReportController.js"></script>
    <script src="AngularJS/controllers/Administration/SysUserSecurityGroupsController.js"></script>

    <!-- VERTICALS -->
    <script src="AngularJS/controllers/BankAccountController.js"></script>
    <script src="AngularJS/controllers/Vertical/Banks/AccountsBankAddressController.js"></script>
    <script src="AngularJS/controllers/Vertical/Banks/BankAccountOverviewController.js"></script>
    <script src="AngularJS/controllers/Vertical/Banks/AccountsBankCommunicationController.js"></script>
    <script src="AngularJS/controllers/Vertical/Banks/AccountsBankGeneralController.js"></script>
    <script src="AngularJS/controllers/Vertical/Banks/AccountsBankNegotiableInstrumentController.js"></script>
    <script src="AngularJS/controllers/Vertical/Banks/BankAccountOverviewController.js"></script>
    <script src="AngularJS/controllers/Vertical/Banks/AccountsBankSetupController.js"></script>
    <script src="AngularJS/controllers/Vertical/Banks/Transactions/BankTransactionsController.js"></script>

</body>
</html>