﻿<div id="cover-spin"></div>

<div data-ng-init="Initialize()">

    <h4><b>USUARIOS</b></h4>

    <div class="navbar2">
        <a href="" data-ng-click="clickToOpen('SysUserSetupModal')">Opciones de usuario</a>
        <a href="" data-ng-click="clickToOpen('Modal')">Relaciones del usuario</a>
        <div class="dropdown2">
            <button class="dropbtn2">
                Gesti&oacute;n de impresi&oacute;n
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown2-content" style="border-radius:8px">
                <a href="" data-ng-click="clickToOpen('Modal')">Compras</a>
                <a href="" data-ng-click="clickToOpen('Modal')">Ventas</a>
            </div>
        </div>
        <a href="" data-ng-click="clickToOpen('Modal')">Permisos</a>
        <a href="" data-ng-click="clickToOpen('Modal')">Registro de usuario</a>
        <a href="" data-ng-click="clickToOpen('Modal')">Tiempo en l&iacute;nea</a>
        <a href="" data-ng-click="clickToOpen('Modal')">Importar</a>
    </div>

</div>

<div id="groupspestanas">

    <br />

    <div class="row">
        <a role='button' id="btnNewGroup" data-ng-click="go('groupsEdit','insert')" class="fa fa-plus btn btn-primary" style="margin-left: 1%">&nbspNUEVO GRUPO</a>
    </div>

    <br />

    <ul id="lista" class="nav nav-tabs">

        <li id="groupspestana1"><a href="#SysUserInfo">Visi&oacute;n General</a></li>
        <li class="active" id="groupspestana2"><a href="">Grupos</a></li>
    </ul>

    <div class="panel" style="height:600px">

        <div class="row" style="width:98%;margin-left:1%">

            <br />

        </div>

    </div>

</div>

<div ng-include="'Views/Administration/Users/SysUserInfo/Toolbar/SysUserSetup.html'"></div>