﻿<div id="cover-spin"></div>

<div data-ng-init="Initialize()">

    <h4><b>USUARIOS</b></h4>

    <div class="navbar2">
        <a href="" data-ng-click="clickToOpen('SysUserSetupModal')">Opciones de usuario</a>
        <a href="" data-ng-click="clickToOpen('SysCompanyUserInfoModal')">Relaciones del usuario</a>
        <a href="" data-ng-click="clickToOpen('SysUserLogModal')">Registro de usuario</a>
        <a href="" data-ng-click="clickToOpen('SysUsersOnlineReportModal')">Tiempo en l&iacute;nea</a>
        <a href="" data-ng-click="clickToOpen('Modal')">Importar</a>
    </div>

</div>

<div id="addresspestanas">

    <br />

    <div class="row">
        <a role='button' id="btnNewUser" data-ng-click="go('SysUsersEdit','insert')" class="fa fa-plus btn btn-primary" style="margin-left: 1%">&nbspNUEVO USUARIO</a>
    </div>
    <br />

    <ul id="lista" class="nav nav-tabs">
        <li class="active" id="addresspestana1"><a href="">Visi&oacute;n General</a></li>
    </ul>

    <div class="panel" style="height:600px">

        <div class="row" style="width:98%;margin-left:1%">

            <br />

            <table id="UsersTable" class="table display table-hover table-striped table-bordered">
            </table>

        </div>

    </div>

</div>

<div ng-include="'Views/Administration/Users/SysUserInfo/Toolbar/SysUserSetup.html'"></div>
<div ng-include="'Views/Administration/Users/SysUserInfo/Toolbar/SysCompanyUserInfo.html'"></div>
<div ng-include="'Views/Administration/Users/SysUserInfo/Toolbar/SysUserLog.html'"></div>
<div ng-include="'Views/Administration/Users/SysUserInfo/Toolbar/SysUsersOnlineReport.html'"></div>