﻿<div id="cover-spin"></div>
<div data-ng-init="Initialize()">
    <h4><b>{{'index.titleUsers'|translate}}</b></h4>
    <div class="panel">
        <div class="row panel-body table-responsive" style="width: 98%; margin-left: 1%">
            <div class="row">
                <a role='button' id="btnNewUser" data-ng-click="go('usersEdit','insert')" class="fa fa-plus btn btn-primary" style="margin-left: 1%">&nbsp{{'index.newUser'|translate}}</a>
            </div>
            <br />
            <table id="UsersTableX" class="table table-hover table-striped table-bordered" style="width: 100%">
            </table>
        </div>
    </div>
</div>