﻿<!--<div id="cover-spin"></div>-->
<link href="content/carrousel.css" rel="stylesheet" />

<div data-ng-init="Initialize()">
    <h2>{{'index.idiom'|translate}}</h2>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="content-all">
        <div class="content-carrousel">
            <figure><img src="content/Resources/argentineflag.png" ng-click="changeLanguage('es')" /></figure>
            <figure><img src="content/Resources/spainflag.png" ng-click="changeLanguage('es')" /></figure>
            <figure><img src="content/Resources/brazilflag.png" ng-click="changeLanguage('br')" /></figure>
            <figure><img src="content/Resources/portugalflag.png" ng-click="changeLanguage('br')" /></figure>
            <figure><img src="content/Resources/usaflag.png" ng-click="changeLanguage('en')" /></figure>
            <figure><img src="content/Resources/englandflag.png" ng-click="changeLanguage('en')" /></figure>
            <figure><img src="content/Resources/deutscheflag.png" ng-click="changeLanguage('de')" /></figure>
            <figure><img src="content/Resources/italianflag.png" ng-click="changeLanguage('it')" /></figure>
            <figure><img src="content/Resources/franceflag.png" ng-click="changeLanguage('fr')" /></figure>
        </div>
    </div>
</div>
