﻿<div id="covr-spin"></div>

<div data-ng-init="Initialize()">

    <h4><b>CAT&Aacute;LOGO DE CUENTAS</b></h4>

    <div class="navbar2">

        <a href="" data-ng-click="clickToOpen('Modal')">Transacciones</a>
        <div class="dropdown2">
            <button class="dropbtn2" id="btnSaldo">
                Saldo
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown2-content" style="border-radius:8px">
                <a href="" data-ng-click="clickToOpen('Modal')">Saldo</a>
                <a href="" data-ng-click="clickToOpen('Modal')">Saldo por moneda</a>
                <a href="" data-ng-click="clickToOpen('Modal')">Saldo por dimensi&oacute;n</a>
                <a href="" data-ng-click="clickToOpen('Modal')">Transacciones en saldo</a>
                <a href="" data-ng-click="clickToOpen('Modal')">Gr&aacute;fico de saldo</a>
                <a href="" data-ng-click="clickToOpen('Modal')">Configurar</a>
            </div>
        </div>
        <a href="" data-ng-click="clickToOpen('Modal')">Saldo del per&iacute;odo</a>
        <div class="dropdown2">
            <button class="dropbtn2">
                Configurar
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown2-content" style="border-radius:8px">
                <a href="" data-ng-click="clickToOpen('Modal')">Totales</a>
                <a href="" data-ng-click="clickToOpen('Modal')">Condiciones de asignaci&oacute;n</a>
                <a href="" data-ng-click="clickToOpen('Modal')">Diseño de pagarés</a>
            </div>
        </div>

        <div class="dropdown2">
            <button class="dropbtn2">
                Consulta
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown2-content" style="border-radius:8px">
                <a href="" data-ng-click="clickToOpen('Modal')">Cuentas totales</a>
                <a href="" data-ng-click="clickToOpen('Modal')">Referencias</a>
                <a href="" data-ng-click="clickToOpen('Modal')">Transacciones del diario</a>
                <a href="" data-ng-click="clickToOpen('Modal')">Pron&oacute;stios de flujo de efectivo</a>
                <a href="" data-ng-click="clickToOpen('Modal')">Estad&iacute;sticas</a>
                <a href="" data-ng-click="clickToOpen('Modal')">Tablas din&aacute;micas</a>
            </div>
        </div>

        <a href="" data-ng-click="clickToOpen('Modal')">Estado de Cuenta</a>
        <a href="" data-ng-click="clickToOpen('Modal')">Presupuesto contable</a>
        <div class="dropdown2">
            <button class="dropbtn2">
                Lista de validaci&oacute;n
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown2-content" style="border-radius:8px">
                <a href="" data-ng-click="clickToOpen('Modal')">C&oacute;digo de moneda</a>
                <a href="" data-ng-click="clickToOpen('Modal')">Registro</a>
                <a href="" data-ng-click="clickToOpen('Modal')">Usuario</a>
                <a href="" data-ng-click="clickToOpen('Modal')">Dimensi&oacute;n</a>
            </div>
        </div>

        <a href="" data-ng-click="clickToOpen('Modal')">Categor&iacute;a de costo</a>
        <a href="" data-ng-click="clickToOpen('Modal')">Enviar</a>

    </div>

</div>

<div id="overviewpestanas">

    <ul id="lista" class="nav nav-tabs">

        <li class="active" id="overviewpestana1"><a href="#accountsBankOverview">Visi&oacute;n General</a></li>
        <li id="overviewpestana2"><a href="#accountsBankGeneral">General</a></li>
        <li id="overviewpestana3"><a href="#accountsBankSetup">Configurar</a></li>
        <li id="overviewpestana4"><a href="#accountsBankNegotiableInstrument">Informe financiero</a></li>
        <li id="overviewpestana5"><a href="#accountsBankAddress">Dimensi&oacute;n</a></li>

    </ul>
  
    <div class="panel" style="height:680px">

        <div class="row" style="width: 98%; margin-left: 1%">

            <br />

            <div class="row">

                <a role='button' id="btnNewAccountBank" data-ng-click="go('','')" class="fa fa-plus btn btn-primary" style="margin-left: 1%">&nbspNUEVO REGISTRO</a>

            </div>

            <br />

            <table id="BankAccountOverviewTable" class="table table-hover table-striped table-bordered text-nowrap" width="100%">
                <thead>
                    <tr>
                        <th>Cuenta contable</th>
                        <th>Nombre de la cuenta</th>
                        <th>Nombre de b&uacute;squeda</th>
                        <th>Tipo de cuenta</th>
                        <th>Bloqueado en diario</th>
                        <th>Saldo</th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>

</div>