﻿<div class="modal fade" id="BankBalanceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog" style="width:400px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>SALDO</b></h4>
            </div>
            <div class="modal-body">

                <div id="overviewpestanas">

                    <div class="panel" style="height:200px">

                        <div class="row" style="width: 98%; margin-left: 1%">

                            <i style="width:200px;margin-left:10px">Moneda de saldo</i>

                            <br /><br />

                            <div class="row">

                                <div class="col-lg-6">

                                    <label for="moneda" style="width:250px;margin-left:10px">Moneda:</label><input id="moneda" />

                                </div>

                                <div class="col-lg-6">

                                    <label for="saldo" style="width:250px;margin-left:10px">Saldo:</label><input id="saldo" />

                                </div>

                            </div>

                            <br />

                            <i style="width:200px;margin-left:10px">Gesti&oacute;n de pagos</i>

                            <br /><br />

                            <label for="cantenv" style="width:250px;margin-left:10px">Cantidad enviada:</label><input id="cantenv" />

                        </div>

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>