﻿<div id="cover-spin"></div>

<div data-ng-init="Initialize()">

    <h4><b>CUENTAS BANCARIAS</b></h4>

    <div id="bankpestanas">

        <div class="row">

            <div class="col-lg-10">

                <ul id="lista" class="nav nav-tabs">
                    <li class="active" id="pestana1"><a href="#accountsBankOverview">Visi&oacute;n General</a></li>
                    <li id="bankpestana2"><a href="#accountsBankGeneral">General</a></li>
                    <li id="bankpestana3"><a href="#accountsBankSetup">Configurar</a></li>
                    <li id="bankpestana4"><a href="#accountsBankNegotiableInstrument">Instrumento Negociable</a></li>
                    <li id="bankpestana5"><a href="#accountsBankAddress">Direcci&oacute;n</a></li>
                    <li id="bankpestana6"><a href="#accountsBankCommunication">Informaci&oacute;n de contacto</a></li>
                </ul>

            </div>

            <div class="col-lg-2">

                <button >boton</button>

            </div>

        </div>


    </div>

</div>