﻿<div class="modal fade" id="AccountsReconciliationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>CONCILIACI&Oacute;N DE CUENTAS</b></h4>
            </div>
            <div class="modal-body">

                <label for="transactionsShowOpenchk">Ver</label>&nbsp;&nbsp;
                <select class="custom-select" id="transactionsShowOpenchk">
                    <option selected value="1">Todo</option>
                    <option value="2">No conciliado</option>
                    <option value="3">Conciliado</option>
                </select>

                <br />

                <div class="navbar2">

                    <a href="" data-ng-click="clickToOpen('BankBalanceModal')">Transacciones</a>
                    <a href="" data-ng-click="clickToOpen('BankBalanceControlModal')">Imprimir</a>

                </div>



                <div id="overviewpestanas">

                    <ul id="lista" class="nav nav-tabs">

                        <li class="active" id="overviewpestana1"><a href="">Visi&oacute;n General</a></li>
                        <li id="overviewpestana2"><a href="">General</a></li>

                    </ul>

                    <div class="panel" style="height:250px">


                    </div>

                </div>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-primary">Guardar cambios</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>

        </div>

    </div>

</div>