﻿<div class="modal fade" id="ChecksCreationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>CREACI&Oacute;N DE CHEQUES</b></h4>
            </div>
            <div class="modal-body">

                <div id="overviewpestanas">

                    <ul id="lista" class="nav nav-tabs">

                        <li class="active" id="overviewpestana1"><a href="">Visi&oacute;n General</a></li>
                        <li id="overviewpestana2"><a href="">General</a></li>

                    </ul>

                    <div class="panel" style="height:250px">

                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Guardar cambios</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>