﻿<div id="cover-spin"></div>

<div data-ng-init="Initialize()">

    <h4><b>CUENTAS BANCARIAS</b></h4>

    <div class="navbar2">
        <a href="" data-ng-click="clickToOpen('BankTransactionsModal')">Transacciones</a>
        <a href="" data-ng-click="clickToOpen('BankBalanceModal')">Saldo</a>
        <a href="" data-ng-click="clickToOpen('BankBalanceControlModal')">Control de Saldo</a>
        <a href="" data-ng-click="clickToOpen('BankChecksModal')">Cheques</a>
        <a href="" data-ng-click="clickToOpen('BankBillExchangesModal')">Letras de cambio</a>
        <a href="" data-ng-click="clickToOpen('BankPromissoryNotesModal')">Pagar&eacute;s</a>
        <div class="dropdown2">
            <button class="dropbtn2">
                Configuraci&oacute;n
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown2-content" style="border-radius:8px">
                <a href="" data-ng-click="clickToOpen('CheckDesignerModal')">Diseño de cheques</a>
                <a href="" data-ng-click="clickToOpen('BillExchangePresentationModal')">Presentación de la letra de cambio</a>
                <a href="" data-ng-click="clickToOpen('PromissoryNotesDesignerModal')">Diseño de pagarés</a>
            </div>
        </div>
        <div class="dropdown2">
            <button class="dropbtn2">
                Funciones
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown2-content" style="border-radius:8px">
                <a href="" data-ng-click="clickToOpen('AccountsReconciliationModal')">Conciliación de cuentas</a>
                <a href="" data-ng-click="clickToOpen('ChecksCreationModal')">Crear cheques</a>
                <a href="" data-ng-click="clickToOpen('PromissoryNotesCreationModal')">Crear pagarés</a>
                <a href="" data-ng-click="clickToOpen('BillExchangesCreationModal')">Crear letra de cambio</a>
            </div>
        </div>
        <div class="dropdown2">
            <button class="dropbtn2">
                Consultas
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown2-content" style="border-radius:8px">
                <a href="" data-ng-click="clickToOpen('CustPaymFileModal')">Envío</a>
                <a href="" data-ng-click="clickToOpen('BankDepositModal')">Resguardo de depósito</a>
                <a href="" data-ng-click="clickToOpen('BillExchangeStatisticsnModal')">Estadísticas de letra de cambio</a>
                <a href="" data-ng-click="clickToOpen('PromissoryNotesStatisticsModal')">Estadísticas de pagarés</a>
                <a href="" data-ng-click="clickToOpen('BankRemittanceCustomersModal')">Remesas para clientes</a>
                <a href="" data-ng-click="clickToOpen('BankRemittanceVendorsModal')">Remesas para proveedores</a>
            </div>
        </div>
    </div>

</div>

<div id="overviewpestanas">

    <ul id="lista" class="nav nav-tabs">

        <li class="active" id="overviewpestana1"><a href="#accountsBankOverview">Visi&oacute;n General</a></li>
        <li id="overviewpestana2"><a href="#accountsBankGeneral">General</a></li>
        <li id="overviewpestana3"><a href="#accountsBankSetup">Configurar</a></li>
        <li id="overviewpestana4"><a href="#accountsBankNegotiableInstrument">Instrumento Negociable</a></li>
        <li id="overviewpestana5"><a href="#accountsBankAddress">Direcci&oacute;n</a></li>
        <li id="overviewpestana6"><a href="#accountsBankCommunication">Contactos</a></li>

    </ul>
 
    <div class="panel" style="height:680px">

        <div class="row" style="width: 98%; margin-left: 1%">

            <br />

            <div class="row">

                <a role='button' id="btnNewAccountBank" data-ng-click="go('','')" class="fa fa-plus btn btn-primary" style="margin-left: 1%">&nbspNUEVO REGISTRO</a>

            </div>

            <br />

            <table id="BankAccountOverviewTable" class="table table-hover table-striped table-bordered text-nowrap" width="100%">
                <thead>
                    <tr>
                        <th>Cuenta bancaria</th>
                        <th>Nombre</th>
                        <th>Conjunto de bancos</th>
                        <th>N&uacute;mero de ruta bancaria</th>
                        <th>N&uacute;mero de cuenta bancaria</th>
                        <th>Cuenta contable</th>
                        <th>Moneda</th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>

</div>

<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Transactions/Transactions.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Balance/Balance.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/BalanceControl/BalanceControl.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Checks/Checks.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/BillExchanges/BillExchanges.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/PromissoryNotes/PromissoryNotes.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Setup/CheckDesigner.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Setup/BillExchangePresentation.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Setup/PromissoryNotesDesigner.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Functions/AccountsReconciliation.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Functions/BillExchangesCreation.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Functions/ChecksCreation.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Functions/PromissoryNotesCreation.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Queries/BankDeposit.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Queries/BankRemittanceCustomers.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Queries/BankRemittanceVendors.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Queries/CustBillExchangeStatistics.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Queries/CustPaymFile.html'"></div>
<div ng-include="'Views/Verticals/Bank/accountsBank/Toolbar/Queries/PromissoryNotesStatistics.html'"></div>




